<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
    <div>
        <div >
            <h5>Cadastrar Funcionário</h5>
            <p>
                Cadastre aqui um novo <code>Funcionário</code>.
            </p>
            Novo Funcionário
        </div>
        <div>
            <h5 >Lista de Funcionários</h5>
            <p >
                Veja aqui a lista de <code>Funcionários</code> cadastrados.
            </p>

            Vá para Lista
        </div>
    </div>
{% endblock %}
